@media (max-width:480px) {

  body {
    margin: 0;
    padding: 0 1.5vw;
    overflow-x: hidden;
  }

  .navbar {
    margin: 1vh 0;
    display: block;
    cursor: pointer;
  }

  .fa-bars {
    transition: 0.4s;
    color: hsl(233, 8%, 62%);
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5vh;
    left: 1.1vw;
    right: 1.1vw;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
  }


  header {
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
  }

  .header-logo {
    width: 13vw;
    display: flex;
    align-items: center;
  }

  .header-navbar {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .header-navbar,
  header .header-request {
    display: none;
  }

  .head-row1 .header-request,
  .footer-div2 .header-request {
    cursor: pointer;
    color: aliceblue;
    width: 43vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
  }

  .container-head {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 0 1.5vw;
  }

  .row1 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head-row1 {
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    margin: 5vh 0;
    /* justify-content: space-around; */
  }

  .head-row1 h1 {
    font-size: 7.5vw;
    font-weight: 400;
  }

  .head-row2 {
    height: 46vh;
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .head-row2 img {
    height: 62vh;
    width: 98vw;
    object-position: -1vw -15vh;
  }

  .choose-div {
    padding: 0 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
  }

  .choose-div1 {
    height: auto;
    padding-left: 8vw;
    align-self: center;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    flex-direction: column;
  }

  .choose-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-self: flex-start; */
    gap: 1.5vw;
    margin-top: 1.5vh;
  }

  .choose-card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 1vh;
    height: 40vh;
    /* margin-bottom: 1.5vh; */
  }

  .last-article {
    padding: 5vh 1.5vw;

    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5vh; */
  }

  .last-article-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
  }

  .last-card {
    height: 60vh;
    padding: 1vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .last-article-img1,
  .last-article-img2,
  .last-article-img3,
  .last-article-img4 {
    border-radius: 1vw 1vw 0 0;
    height: 50%;
    background-size: cover;
  }

  .last-article-img1 {
    background-image: url("./images/image-currency.jpg");
  }

  .last-article-img2 {
    background-image: url("./images/image-restaurant.jpg");
  }

  .last-article-img3 {
    background-image: url("./images/image-plane.jpg");
  }

  .last-article-img4 {
    background-image: url("./images/image-confetti.jpg");
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #213363;
    padding: 1.5vh;
  }

  .footer-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }

  .footer-logo,
  .about-us {
    filter: invert(100%);
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us p {
    opacity: 80%;
  }

  .footer-apps {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5vh;
  }

  .footer-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
  }

  .last-card-div2 {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    flex-wrap: wrap;
    padding: 0 1.5vw;
  }

  p {
    opacity: 60%;
    font-size: large;
  }



}




@media (min-width:481px) and (max-width:999px) {

  /* Common Styles */

  body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Public Sans';
  }

  .navbar {
    display: none;
  }

  header {
    padding: 2vh 5vw;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
  }

  .header-logo {
    width: 25vw;
    display: flex;
    align-items: center;
  }

  .header-navbar {
    cursor: pointer;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }

  .header-request {
    cursor: pointer;
    color: aliceblue;
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
  }

  .container-head {
    height: auto;
    padding: 2vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EEEEEE;
  }

  .row1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .head-row1 {
    height: 40vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: 4vh 0;
  }

  .head-row1 h1 {
    font-size: 4vw;
    font-weight: 400;
  }

  p {
    opacity: 70%;
  }

  .head-row2 {
    height: 40vh;
    width: 100%;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .head-row2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 -20vh;
  }

  .choose-div {
    padding: 2vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0;
  }

  .choose-div1 {
    /* padding-left: 10vw; */
    margin-top: 4vh;
    height: auto;
    /* align-self: flex-start; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .choose-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5vw;
    margin-top: 2vh;
    padding-left: 5vw;
  }

  .choose-card {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 2vh;
    margin-bottom: 2vh;
  }

  h3 {
    font-weight: 300;
  }

  .last-article {
    height: auto;
    padding: 2vh 10vw;
    /* padding-left: 20vw; */
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 4vh;
  }

  .last-article-div2 {
    display: flex;
    padding-left: 20vw;
    flex-wrap: wrap;
    gap: 2vw;
    /* align-self: center; */
  }

  .last-card {
    height: auto;
    padding: 2vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .last-article-img1,
  .last-article-img2,
  .last-article-img3,
  .last-article-img4 {
    border-radius: 1vw 1vw 0 0;
    height: 20vh;
    background-size: cover;
  }

  .last-article-img1 {
    background-image: url("./images/image-currency.jpg");
  }

  .last-article-img2 {
    background-image: url("./images/image-restaurant.jpg");
  }

  .last-article-img3 {
    background-image: url("./images/image-plane.jpg");
  }

  .last-article-img4 {
    background-image: url("./images/image-confetti.jpg");
  }


  .header-navbar nav {
    cursor: pointer;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 100px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
    padding: 1vh;
    color: aliceblue;
  }

  .header-navbar nav p:hover {
    opacity: 100%;
    font-size: 1.5vw;
  }


  footer {
    display: flex;
    justify-content: space-around;
    background-color: #213363;
    padding: 2vh;
    padding-left: 4vw;
  }

  .footer-div1 {
    width: 55%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
  }

  .footer-logo,
  .about-us {
    filter: invert(100%);
  }

  .about-us p {
    opacity: 80%;
    /* filter: invert(100%); */
  }

  .about-us p:hover {
    cursor: pointer;
    opacity: 100%;
    font-size: 400;

  }

  .footer-apps img:hover {
    cursor: pointer;
    filter: invert(50%);
  }

  .footer-apps {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2vh;
  }

  .footer-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }



}










@media (min-width:1000px) {

  body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Public Sans';
  }

  .navbar {
    display: none;
  }


  header {
    padding-left: 5vw;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
  }

  .header-logo {
    width: 16vw;
    display: flex;
    align-items: center;
  }

  .header-navbar {
    cursor: pointer;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }

  .header-request {
    cursor: pointer;
    color: aliceblue;
    width: 16vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
  }



  .container-head {
    height: 60vh;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    /* padding: 0 2vw; */
  }

  .row1 {

    /* width: 90%; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .head-row1 {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin: 4vh 0;
  }

  .head-row1 h1 {
    font-size: 2.5vw;
    font-weight: 400;
  }

  p {
    opacity: 70%;
  }

  .head-row2 {
    height: 100%;
    width: 50vw;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;

  }

  .head-row2 img {
    height: 100vh;
    width: 40vw;
    margin-left: 14vw;
    object-fit: cover;
    object-position: 0 -20vh;

  }

  .choose-div {
    padding: 0 2vw;
    padding-left: 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
  }

  .choose-div1 {
    margin-top: 4vh;
    height: auto;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .choose-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    align-self: flex-start;
    gap: 3.5vw;
    margin-top: 2vh;
  }

  .choose-card {
    display: flex;
    flex-direction: column;
    width: 18vw;
    gap: 1vh;
    margin-bottom: 2vh;
  }

  h3 {
    font-weight: 300;
  }

  .last-article {
    height: 60vh;
    padding: 0 2vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    justify-content: center;
    /* align-items: center;  */
    margin-bottom: 4vh;
  }

  .last-article-div2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 2vw;
    /* margin-top: 2vh; */
  }

  .last-card {
    height: 45vh;
    padding: 1vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 18vw;
  }

  .last-article-img1,
  .last-article-img2,
  .last-article-img3,
  .last-article-img4 {
    border-radius: 1vw 1vw 0 0;
    /* height: 20vh; */
    height: 50%;
    background-size: cover;
  }

  .last-article-img1 {

    background-image: url("./images/image-currency.jpg");
  }

  .last-article-img2 {
    background-image: url("./images/image-restaurant.jpg");
  }

  .last-article-img3 {
    background-image: url("./images/image-plane.jpg");
  }

  .last-article-img4 {
    background-image: url("./images/image-confetti.jpg");
  }


  footer {
    display: flex;
    justify-content: space-around;
    background-color: #213363;
    padding: 2vh;
    padding-left: 4vw;
  }

  .footer-div1 {
    width: 55%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
  }

  .footer-logo,
  .about-us {
    filter: invert(100%);
  }

  .about-us p {
    opacity: 80%;
    /* filter: invert(100%); */
  }

  .about-us p:hover {
    cursor: pointer;
    opacity: 100%;
    font-size: 400;

  }

  .footer-apps img:hover {
    cursor: pointer;
    filter: invert(50%);
  }

  .footer-apps {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2vh;
  }

  .footer-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .header-navbar nav {
    cursor: pointer;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 100px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
    padding: 1vh;
    color: aliceblue;
  }

  .header-navbar nav p:hover {
    opacity: 100%;
    font-size: 1.5vw;
  }
}